/* Nueva hoja de estilos para las imágenes botón */
section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
}

div > a {
    text-align: center;
    text-decoration: none;
    color: black;
}

img {
    box-sizing: border-box;
    padding: 15px;
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para hover de las imágenes */
img:hover {
    transform: scale(1.05);
    background-color: #4F6F52;
}

img:active {
    transform: scale(0.95);
    background-color: #3A4D39;
}