<main>
  <section>
    <form #form="ngForm" (ngSubmit)="validarFormulario()">
      <h1>Registrar Prestamista</h1>

      <label for="nombreUsuario">Usuario:</label>
      <input type="text" id="nombreUsuario" placeholder="Nombre de usuario" name="nombreUsuario" [(ngModel)]="prestamista.usuario.nombreUsuario" required/>
      <label for="contrasenia">Contraseña:</label>
      <input type="password" id="contrasenia" placeholder="********" name="contrasenia" [(ngModel)]="prestamista.usuario.contrasenia" required minlength="6"/>

      <h3>Datos del Prestamista</h3>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" placeholder="Nombre" name="nombre" [(ngModel)]="prestamista.nombre" required/>
      <label for="capital">Capital:</label>
      <input type="number" id="capital" placeholder="Capital en pesos" name="capital" [(ngModel)]="prestamista.capital" required min="0"/>
      <label for="numeroCuenta">Número de cuenta:</label>
      <input type="string" id="numeroCuenta" placeholder="Número de cuenta" name="numeroCuenta" [(ngModel)]="prestamista.numeroCuenta" required/>

      <div *ngIf="prestamista.usuario.contrasenia.length < 6 ">
        <label class="label-error">La contraseña debe tener al menos 6 caracteres, una mayúscula y un número</label>
      </div>
      <div *ngIf="prestamista.capital < 0 ">
        <label class="label-error">El capital no puede ser negativo</label>
      </div>
      <div *ngIf="prestamista.nombre.includes('1')">
        <label class="label-error">El nombre no debe tener números</label>
      </div>

      <button type="submit" [disabled]="form.invalid">Ingresar</button>
      <div>
        <a href="#">Registrarse</a>
        <a href="#">Recordar contraseña</a>
      </div>
    </form>
  </section>
</main>
