<main>
  <section>
    <form [formGroup]="formPrestamista" (ngSubmit)="registrarPrestamista()">
      <h1>Registrar Prestamista</h1>

      <label for="nombreUsuario">Usuario:</label>
      <input type="text" id="nombreUsuario" placeholder="Nombre de usuario" formControlName="nombreUsuario"  name="nombreUsuario"/>
      <div *ngIf="nombreUsuario.errors?.['required'] && nombreUsuario.touched" class="contain-label-error">
        <label class="label-error">El usuario es requerido</label>
      </div>

      <label for="contrasenia">Contraseña:</label>
      <input type="password" id="contrasenia" placeholder="********" formControlName="contrasenia" name="contrasenia"/>
      <div *ngIf="contrasenia.errors?.['pattern']" class="contain-label-error">
        <label class="label-error">La contraseña debe tener al menos 6 caracteres, una mayúscula, un número y un carácter especial</label>
      </div>
      <div *ngIf="contrasenia.errors?.['required'] && contrasenia.touched" class="contain-label-error">
        <label class="label-error">La contraseña es requerida</label>
      </div>

      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="ejemplo@correo.com" formControlName="email" name="email"/>
      <div *ngIf="email.errors?.['required'] && email.touched" class="contain-label-error">
        <label class="label-error">El email es requerido</label>
      </div>
      <div *ngIf="email.errors?.['email']" class="contain-label-error">
        <label class="label-error">El email debe ser válido</label>
      </div>

      <h3>Datos del Prestamista</h3>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" placeholder="Nombre" formControlName="nombre" name="nombre"/>
      <div *ngIf="nombre.errors?.['required'] && nombre.touched" class="contain-label-error">
        <label class="label-error">El nombre es requerido</label>
      </div>
      <div *ngIf="nombre.errors?.['pattern']" class="contain-label-error">
        <label class="label-error">El nombre no debe tener números ni caracteres especiales</label>
      </div>

      <label for="capital">Capital:</label>
      <input type="number" id="capital" formControlName="capital" placeholder="Capital en pesos" name="capital"/>
      <div *ngIf="capital.errors?.['required'] && capital.touched" class="contain-label-error">
        <label class="label-error">El capital es requerido</label>
      </div>
      <div *ngIf="capital.errors?.['min']" class="contain-label-error">
        <label class="label-error">El capital no puede ser negativo</label>
      </div>

      <label for="numeroCuenta">Número de cuenta:</label>
      <input type="string" id="numeroCuenta" placeholder="Número de cuenta" formControlName="numeroCuenta" name="numeroCuenta"/>
      <div *ngIf="numeroCuenta.errors?.['required'] && numeroCuenta.touched" class="contain-label-error">
        <label class="label-error">El número de cuenta es requerido</label>
      </div>
      <div *ngIf="numeroCuenta.errors?.['pattern']" class="contain-label-error">
        <label class="label-error">Solo puedes escribir números en este campo</label>
      </div>

      <button type="submit" [disabled]="formPrestamista.invalid">Ingresar</button>
    </form>
  </section>
</main>
