<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
</head>
<body>
  <main>
    <h1>Contacto</h1>
    <p><strong>Gracias por preferirnos!</strong> Si tienes alguna sugerencia, con gusto te atenderemos por los siguientes medios.</p>
    <p>Queremos seguir mejorando para que tengas la mejor herramienta de gestión de préstamos que existe.</p>
    <h2>Redes Sociales</h2>
    <div class="container-botones-header">
      <a href="#" class="boton-crear-nuevo">
        <img src="../../assets/imgs/facebook.png" alt="Facebook">
        Facebook
      </a>
      <a href="#" class="boton-crear-nuevo">
        <img src="../../assets/imgs/instagram.png" alt="Instagram">
        Instagram
      </a>
      <a href="#" class="boton-crear-nuevo">
        <img src="../../assets/imgs/linkedin.png" alt="Linkedin">
        LinkedIn
      </a>
    </div>
    <h2>Correo Electrónico</h2>
    <p><a href="mailto:info@tuapp.com">info&#64;gmail.com</a></p>
  </main>
</body>
</html>
