body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

main {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto; /* Centrar el main */
}

h1 {
  text-align: center;
  color: #3A4D39;
}

h2 {
  color: #3A4D39;
}

.container-botones-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.boton-crear-nuevo {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  background-color: transparent;
  color: #79AC78;
  font-weight: bold;
  border-color: #79AC78;
  border: solid 1px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 5px 5px;
}

.boton-crear-nuevo img {
  width: 20px;
}

a {
  text-align: center;
  color: #618264;
}
