<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú principal</title>
</head>
<body>
<main>

  <section>
    <h1>Menú principal</h1>

    <div>
      <a routerLink="/consultar-clientes">
        <label for="cliente">Clientes</label>
        <img id="cliente" src="../../assets/imgs/clientes.png" />
      </a>

      <a routerLink="/consultar-prestamos">
        <label for="prestamos">Préstamos</label>
        <img id="prestamos" src="../../assets/imgs/prestamos.png" alt="" />
      </a>

      <a routerLink="/registrar-prestamista">
        <label for="cuenta">Cuenta</label>
        <img id="cuenta" src="../../assets/imgs/cuenta.png" alt="" />
      </a>

      <a routerLink="/historial-prestamos">
        <label for="historial">Historial</label>
        <img id="historial" src="../../assets/imgs/historial.png" alt="" />
      </a>

      <a routerLink="/contacto" >
        <label for="contacto">Contacto</label>
        <img id="contacto" src="../../assets/imgs/contact-us.png" alt="" style="padding-top: 20px;"/>
      </a>

      <a (click)="cerrarSesion()">
        <label for="configuracion">Salir</label>
        <img id="configuracion" src="../../assets/imgs/salir.png" alt="" style="background-color: rgb(196, 75, 75);"/>
      </a>
    </div>
  </section>
</main>
</body>
</html>
