/* cliente-lista.component.css */

.main {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}

h1, h2, h3 {
  color: #3A4D39;
}

.prestamo-box {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background-color: #4F6F52;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #fff;
  margin: 0px 5px;
}

.editar-btn {
  background-color: #79AC78;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.editar-btn img{
  max-width: 20px;
  height: auto;
}

.editar-btn:hover {
  background-color: #3A4D39;
}

.eliminar-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  color: transparent;
}

.eliminar-btn img{
  max-width: 20px;
  height: auto;
}

.eliminar-btn:hover {
  background-color: #ac7878;
}

.eliminar-btn:active{
  background-color: #583e3e;
}

.botones-header{
  display: flex;
  justify-content: space-between;
  margin: 0px 3px;
}

.botones-header div{
  margin: 0px 3px;
}

.info {
  padding: 15px;
}

label {
  display: block;
  color: #3A4D39;
}

.container-botones-secundarios{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 6px 15px;
  border-bottom: 0.5px solid #3A4D39;
  cursor: pointer;
}

.container-botones-secundarios h3 {
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: 0;
}

.container-info-secundarios{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: transparent;
  border: 0;
}

.container-info-secundarios div{
  width: 100%;
}

.intereses label{
  color: rgb(219, 27, 27);
}

.boton-ocultar{
  padding: 0;
  margin: 0;
  width: auto;
  color: #3A4D39;
}

.container-botones-terciarios{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 6px 15px;
  gap: 10px;
}

.fecha-pago-sobrepasada{
  color: red;
}

