<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Prestamos</title>
</head>
<body>
  <main>

    <h1>Lista de Préstamos</h1>

    <div class="container-botones-header">
      <button class="boton-crear-nuevo" routerLink="/crear-prestamo"> <img src="./../../assets/imgs/plus.png" alt=""> Nuevo Préstamo</button>

      <select name="cliente" id="cliente" class="select-cliente-filtro" [(ngModel)]="clienteSeleccionado" (change)="filtrarXCliente($event)">
        <option value="0">Seleccionar cliente...</option>
        <option *ngFor="let item of clientes" [value]="item.idCliente">{{item.nombre}}</option>
      </select>
    </div>

    <br>

    <section *ngFor="let prestamo of (prestamos)" class="prestamo-box">
      <div *ngIf="prestamo.idPrestamo == prestamoEnEdicion">
        <app-crear-prestamo [dataEntrante]="prestamo"></app-crear-prestamo>
      </div>

      <div *ngIf="prestamo.idPrestamo != prestamoEnEdicion">
        <div class="header" [ngClass]="{'header-cobrar': prestamo.estado == 'Impago'}">
          <h2 [ngClass]="{'header-h2-cobrar': prestamo.estado == 'Impago', 'header-h2': prestamo.estado != 'Impago'}">{{prestamo.idPrestamo}} - {{ prestamo.oCliente.nombre }}</h2>
          <div class="botones-header">
            <div>
              <button class="editar-btn" (click)="cancelarPrestamo(prestamo)"><img src="./../../assets/imgs/delete.png" alt="editar"></button>
            </div>
          </div>
        </div>
        <div class="info">
          <label><strong>Fecha inicial: </strong>{{ prestamo.fechaInicial }}</label>
          <label><strong>Monto inicial: </strong>{{ prestamo.montoInicial }}</label>
          <label><strong>Monto real: </strong>{{ prestamo.montoReal }}</label>
          <label><strong>Día corte: </strong>{{ prestamo.diaCorte }}</label>
          <label><strong>Porcentaje interés: </strong>{{ prestamo.porcentaje }}</label>
          <label><strong>Tipo interés: </strong>{{ prestamo.tipoIntereses }}</label>
          <label [ngClass]="{'fecha-pago-sobrepasada': prestamo.fechaPago < fechaHoy}"><strong>Fecha pago estimado: </strong>{{ prestamo.fechaPago }}</label>
        </div>

        <div class="container-botones-secundarios" (click)="mostrarInfoExtra(prestamo.idPrestamo)">
          <span *ngIf="prestamo.idPrestamo == idPrestamoDesplegado" id="botonOcultar" class="boton-ocultar">-</span>
          <span *ngIf="prestamo.idPrestamo != idPrestamoDesplegado" id="botonOcultar" class="boton-ocultar">+</span>
          <h3 *ngIf="prestamo.idPrestamo == idPrestamoDesplegado" for="botonOcultar">Abonos</h3>
          <h3 *ngIf="prestamo.idPrestamo == idPrestamoDesplegado" for="botonOcultar">Intereses</h3>
        </div>

        <div class="container-info-secundarios" *ngIf="prestamo.idPrestamo == idPrestamoDesplegado">

          <div class="info">
            <div class="abonos" *ngFor="let abono of (prestamo.abonos)">
              <label><strong>{{abono.fecha}}: </strong>{{ abono.valor }}$ <button class="eliminar-btn"><img src="./../../assets/imgs/delete.png" alt="eliminar" (click)="eliminarAbono(abono.idAbono)"></button></label>
            </div>

          </div>
          <div class="info">
            <div class="intereses" *ngFor="let interes of (prestamo.intereses)">
              <label><strong>{{interes.fecha}}: </strong>{{ interes.valor }}$ <button class="eliminar-btn"><img src="./../../assets/imgs/delete.png" alt="eliminar" (click)="eliminarInteres(interes.idInteres)"></button></label>
            </div>
          </div>
        </div>

        <div class="container-botones-terciarios" *ngIf="prestamo.idPrestamo == idPrestamoDesplegado">
          <button (click)="abrirModalAbono()">Añadir abono</button>
          <button (click)="abrirModalInteres()">Añadir interes</button>
        </div>
      </div>
    </section>

    <app-crear-abono *ngIf="modalAbonoAbierto" [dataEntrante]="idPrestamoDesplegado" (crearAbonoFinalizado)="cerrarModalAbono($event)"></app-crear-abono>
    <app-crear-interes *ngIf="modalInteresAbierto" [prestamo]="prestamoDesplegado" (crearInteresFinalizado)="cerrarModalInteres($event)"></app-crear-interes>

  </main>
</body>
