<main>
  <section>
    <form [formGroup]="formUsuario" (ngSubmit)="consultarPrestamista()">
      <h1>Iniciar Sesión - Prestamista</h1>

      <label for="userOrEmail">Usuario o Email:</label>
      <input type="text" id="userOrEmail" placeholder="Usuario o Email" formControlName="userOrEmail"  name="userOrEmail"/>
      <div *ngIf="userOrEmail.errors?.['required'] && userOrEmail.touched" class="contain-label-error">
        <label class="label-error">El nombre de usuario o Email es requerido</label>
      </div>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" placeholder="********" formControlName="contrasenia" name="contrasenia"/>
      <div *ngIf="contrasenia.errors?.['required'] && contrasenia.touched" class="contain-label-error">
        <label class="label-error">La contraseña es requerida</label>
      </div>

      <div *ngIf="errorStatus" class="contain-label-error">
        <label class="label-error">{{errorMsj}}</label>
      </div>

      <button type="submit" [disabled]="formUsuario.invalid">Ingresar</button>
      <div>
        <a routerLink="/registrar-prestamista">Registrarse</a>
        <a href="#">Recordar contraseña</a>
      </div>
    </form>
  </section>
</main>
