<main>
  <section>
    <form action="submit">
      <h1>Iniciar Sesión</h1>

      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" placeholder="Usuario" required/>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" placeholder="********" required/>

      <div *ngIf="1 == 1">
        <label class="label-error">{{mensajeError}}</label>
      </div>

      <button type="submit">Ingresar</button>
      <div>
        <a href="#">Registrarse</a>
        <a href="#">Recordar contraseña</a>
      </div>
    </form>
  </section>
</main>
