body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

main {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto; /* Centrar el main */
}

h1 {
  text-align: center;
  color: #3A4D39;
}

h2,h3{
  color: #3A4D39;
}

label,
input,
button,
a {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

input,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #79AC78;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

button:hover{
  background-color: #4F6F52;
}

button:active{
  background-color: #3A4D39;
}

button:disabled{
  background-color: #606160;
  color: #9eaa9e;
  cursor: not-allowed;
}

a {
  text-align: center;
  color: #618264;
}

.label-error{
  color: red;

}

.contain-label-error{
  margin-bottom: 10px;
}
