body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.boton-retorno{
  color: transparent;
  background-color: transparent;
  border: none;
  width: auto;
}

.boton-retorno img{
  width: 20px;
}

main {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto; /* Centrar el main */
}

h1 {
  text-align: center;
  color: #3A4D39;
}

h2,h3{
  color: #3A4D39;
}

.container-botones-header{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.boton-crear-nuevo{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  background-color: transparent;
  color: #79AC78;
  font-weight: bold;
  border-color: #79AC78;
  border: solid 1px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 5px 5px;
}

.select-cliente-filtro{
  width: 60%;
  margin-bottom: 0px;
  border-color: #79AC78;
  border: solid 1px;
}

label,
input,
button,
select,
a {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select{
  appearance: none;
}

button {
  background-color: #79AC78;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

button:hover{
  background-color: #4F6F52;
}

button:active{
  background-color: #3A4D39;
}

button:disabled{
  background-color: #606160;
  color: #9eaa9e;
  cursor: not-allowed;
}

a {
  text-align: center;
  color: #618264;
}

.label-error{
  color: red;

}

.contain-label-error{
  margin-bottom: 10px;
}


